@font-face {
  font-family: 'Gilroy';
  src: url('fonts/SVN-Gilroy Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/SVN-Gilroy Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/SVN-Gilroy Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/SVN-Gilroy Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.description {
  font-weight: 400;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 1.15;
  letter-spacing: -0.46px;
  color: #1d1d1f;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #1d1d1f;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.44;
  color: #606060;
}

h1 span {
  color: #00da4f;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  background: #57aa19;
  position: relative;
  z-index: 10;
}

.navbar img {
  height: 36px;
  width: auto;
}

.menu {
  display: flex;
  gap: 1rem;
}

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  padding: 9px 14px 11px;
  border-radius: 13px;
  background-color: #57aa19;
}

.button img {
  height: 14px;
  width: 14px;
}

.button-shadow {
  box-shadow: inset 0 -4px 0 0 #387e04;
  border-radius: 18px;
  padding: 8px 16px 14px 24px;
  color: white;
}

.button-shadow-2 {
  padding: 13px 47px 16px 48px;
  border-radius: 20px;
  box-shadow: inset 0 -4px 0 0 #387e04;
  background-color: #57aa19;
  color: white;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #82c650;
  color: #f8faf9;
  font-size: 14px;
  font-weight: 500;
}

.button-light {
  background-color: #add93f;
  color: #201c24;
  font-size: 14px;
  font-weight: 600;
}

.button-gray {
  background-color: #eaeaea;
  color: #131415;
  font-size: 14px;
  font-weight: 600;
}

.lp-compacted {
  width: 1176px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

/* Hero section */
.hero {
  position: relative;
  height: fit-content;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.hero-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 80px;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.14;
}

.hero-content p {
  width: 60%;
  font-size: 17px;
  line-height: 1.53;
  color: #e6feec;
  font-weight: 300;
  margin: 18px 0 44px 0;
}

.hero-content a {
  font-size: 20px;
}

/* Courses Section */
.courses {
  padding: 90px 0 120px 0;
  background-color: #f9f9f9;
}

.courses .description {
  text-align: center;
  margin: 20px 0 30px 0;
  font-size: 16px;
  line-height: 1.44;
  color: #606060;
}

.courses-list {
  gap: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.login-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-wrapper img {
  margin-top: 2px;
}

.course-card-col {
  width: 229px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.course-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  border-radius: 28px;
}

.course-card img {
  width: 100%;
  height: auto;
}

.course-card .item {
  width: 44px;
  height: 44px;
}

.card-button {
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  border-radius: 99px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 8px 8px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card-button img {
  height: 36px;
  width: auto;
}

.card-text-wrapper {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: last baseline;
}

.card-text-left {
  font-size: 26px;
  color: #f7f7f7;
  line-height: 0.83;
  letter-spacing: -0.25px;
}

.card-text-right {
  font-size: 88px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.74px;
}

.card-1 .card-button {
  background: #266929;
  color: #fff;
}

.card-1 .card-text-wrapper {
  bottom: 90px;
}

.card-1 .card-text-left {
  font-size: 30px;
}

.card-2 {
  background-color: #201c24;
  color: #add93f;
  padding: 30px 28px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.21px;
}

.card-4 .card-text-wrapper {
  bottom: 90px;
}

.card-4 .card-text-left {
  color: #1d5b2a;
  font-weight: 700;
  font-size: 28px;
  width: 150px;
  line-height: 1.15;
}

.card-4 .card-button {
  background-color: #d2ded0;
}

.card-5 .card-text-wrapper {
  bottom: 40px;
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #3c5927;
  line-height: 1.2;
}

.card-6 .card-text-wrapper {
  bottom: 40px;
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #3c5927;
  line-height: 1.2;
}

.card-6 .card-button {
  justify-content: flex-end;
}

.card-7 {
  background-color: #014810;
  color: #68c621;
  font-size: 22px;
  font-weight: 500;
  padding: 30px 28px;
  line-height: 1.2;
  letter-spacing: -0.21px;
}

.card-7 .item {
  width: 56px;
  height: auto;
}

.courses-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-wrapper-mobile {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.course-card-row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.course-card-last-row {
  align-items: stretch;
}

/* Features Section */
.features {
  padding: 90px 0 0 0;
  text-align: center;
  background: #eef5f3;
}

.features h4 {
  margin: 30px auto 10px auto;
  max-width: 725px;
  text-align: center;
}

.features-wrapper {
  display: flex;
}

.features-wrapper img {
  width: 45%;
  height: auto;
}

.features-title {
  padding: 0 36px;
}

.features-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  padding: 60px 16px 40px 16px;
}

.feature-list {
  display: flex;
  gap: 60px;
}

.feature-list-margin {
  margin-top: 60px;
}

.features-list-item {
  width: 350px;
  height: 200px;
  text-align: left;
}

.features-list-item-header {
  font-family: 'Inter', sans-serif;
  color: #606060;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c5c2c2;
}

.features-list-item-title {
  font-weight: 500;
  color: #262626;
  font-size: 21px;
  margin: 32px 0 16px 0;
}

.features-list-item-description {
  font-size: 15px;
  line-height: 1.6;
  color: #565b5c;
}

/* Trust Section */
.trust {
  padding: 100px 16px 0 16px;
  background-color: #fff;
}

.trust .lp-compacted {
  display: flex;
  gap: 100px;
}

.trust-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trust-header .button {
  border-radius: 24px;
  padding: 10px 24px;
}

.trust h2 {
  text-align: left;
}

.trust h4 {
  margin: 30px 0 36px 0;
  line-height: 1.44;
}

.trust-stats-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.trust-stats-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-top: 40px;
}

.trust-stats {
  display: flex;
  gap: 4rem;
}

.trust-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 160px;
}

.trust-stat img {
  height: 64px;
  width: 64px;
}

.stat-number {
  font-size: 44px;
  font-weight: 700;
  color: #333;
}

.stat-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: #606060;
}

/* Media Section */
.media {
  padding: 70px 16px 90px 16px;
  background-color: #fff;
}

.media h3 {
  margin: 0 0 36px 0;
}

.media-card-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.media-card-list {
  display: flex;
  gap: 24px;
}

.media-card {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  overflow: hidden;
}

.media-card img {
  height: 292px;
  width: auto;
}

.media-card-1 {
  background-color: #eef5f3;
  color: #444;
}

.media-card-2 {
  background-color: #fbd757;
  color: #444;
}

.media-card-3 {
  background-color: #26b259;
  color: #fff;
}

.media-card-4 {
  background-color: #eef5f3;
  color: #444;
}

.media-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 52px 48px 32px 60px;
}

.media-card-text {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.48;
}

.media-card-left img {
  width: 120px;
  height: auto;
}

/* Testimonials */
.testimonials {
  margin: 0 30px;
  padding: 90px 0 96px 0;
  border-radius: 30px;
  background: linear-gradient(90deg, #e6f0fa 0%, #fff5f2 100%);
}

.testimonials h4 {
  margin: 10px 0 60px 0;
}

.testimonial-cards-scroller {
  margin-top: 60px;
  overflow-x: auto;
}

.testimonial-cards {
  padding: 0 24px;
  display: flex;
  gap: 8px;
}

.testimonial {
  flex-shrink: 0;
  padding: 72px 80px 60px 40px;
  border-radius: 29px;
  width: 637px;
  height: 386px;
  position: relative;
  display: flex;
  gap: 2rem;
}

.t-1 {
  background-color: rgba(255, 255, 255, 0.45);
}

.t-2 {
  background-color: #fff;
}

.t-3 {
  background-color: rgba(255, 255, 255, 0.45);
}

.t-index {
  color: #222;
  font-size: 17px;
  font-weight: 500;
}

.t-quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.t-quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.t-quote {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  line-height: 1.41;
}

.t-star img {
  height: 14.5px;
  width: 83.2px;
}

.t-reviewer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.t-reviewer img {
  width: 52px;
  height: 52px;
}

.t-reviewer-name {
  font-size: 21px;
  font-weight: 500;
  color: #111;
}

.t-review-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #555;
}

.testimonial-quote-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.testimonial-quote-icon img {
  width: 36px;
  height: auto;
}

/* Partners */
.partners {
  padding: 90px 16px;
  background-color: #fff;
  text-align: center;
}

.partners-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-header p {
  color: #aaa;
  font-size: 30px;
}

.partner-logos {
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.partner-logos img {
  height: 42px;
  width: auto;
}

.partner-bar {
  background-color: #dfdfdf;
  width: 1206px;
  height: 1px;
}

.partners-header .partner-bar {
  margin: 70px 0 80px 0;
}

.partner-bar-green {
  width: 30%;
  height: 2px;
  background-color: #7db131;
}

.partner-banner {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.partner-banner img {
  width: 100%;
  height: auto;
}

.partner-banner-content {
  position: absolute;
  top: 54px;
  left: 168px;
  right: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.partner-banner-content .title {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.partner-banner-content .description {
  font-size: 15px;
  color: #b2bbb1;
  margin: 10px 0 20px 0;
}

.partner-banner-content a img {
  height: 14px;
  width: 14px;
}

/* News */
.news {
  padding: 0 16px 70px 16px;
  background-color: #fff;
}

.news-bar {
  width: 100%;
  height: 1px;
  background-color: #cfcece;
  margin: 15px 0 30px 0;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 8px;
}

.news-item {
  display: flex;
  flex-direction: column;
}

.news-item img {
  width: 100%;
  height: auto;
}

.news-item-1 {
  width: 576px;
}

.news-item-2 {
  width: 276px;
}

.news-item .topic {
  font-size: 12px;
  column-rule: #747474;
  margin: 15px 0 5px 0;
}

.news-item .title {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.33;
  color: #111;
  margin-bottom: 10px;
}

.news-item .description {
  line-height: 1.44;
  font-size: 16px;
  color: #606060;
}

.news-show-more {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Ambassador CTA */
.ambassador {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-color: #282828;
}

.ambassador img {
  width: 60%;
  max-width: 960px;
  height: auto;
}

.ambassador-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ambassador-content {
  display: flex;
  width: 50%;
  padding: 90px 90px 00px 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.ambassador-content h3 {
  color: #fff;
  font-weight: 500;
}

.ambassador-content .button {
  padding: 8px 24px 14px 24px;
  gap: 1rem;
  border-radius: 18px;
}

.ambassador-content .button img {
  margin-top: 3px;
  height: 14px;
  width: 14px;
}

.tak-12 img {
  height: 60px;
  width: auto;
  margin: 25px 0 50px 0;
}

.ambassador-content p {
  font-size: 16px;
  color: #bfbfbf;
  line-height: 1.5;
  margin-top: 6px;
}

.ambassador-content a {
  margin-top: 40px;
}

/* Footer */
footer {
  padding: 20px 16px 0 16px;
  background-color: #fff;
}

.footer-top {
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
  margin: 32px 0;
}

.footer-logo img {
  width: 180px;
  height: 50px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 32px;
  margin-top: 24px;
}

.footer-info p {
  font-size: 14px;
  color: #444;
  line-height: 1.38;
  margin-top: 6px;
}

.footer-info h4 {
  font-weight: 700;
  color: #222;
  font-size: 14px;
}

.follow {
  display: flex;
  gap: 1rem;
  margin-top: 32px;
  align-items: center;
}

.follow img {
  width: 30px;
  height: 30px;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links-mobile {
  display: flex;
  padding: 16px 0 20px 0;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
}

.footer-links a {
  display: block;
  margin-bottom: 0.25rem;
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 6px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  color: #aaa;
  margin: 24px 0;
}

@media (max-width: 1376px) {
  .hero-desktop {
    display: none !important;
  }

  .hero-mobile {
    display: block !important;
  }

  .features-wrapper {
    flex-direction: column;
  }

  .features-wrapper img {
    width: 100% !important;
    height: auto !important;
  }

  .feature-list {
    flex-wrap: nowrap !important;
    gap: 16px !important;
    justify-content: space-between;
  }

  .features-list-item {
    width: 50% !important;
    height: auto !important;
  }

  .ambassador {
    flex-direction: column;
  }

  .ambassador img {
    width: 100%;
    height: auto;
  }

  .ambassador-content-wrapper {
    position: static;
    padding: 36px 20px;
  }

  .ambassador-content {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 1376px) {
  .hero-desktop {
    display: block !important;
  }

  .hero-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  .navbar img {
    height: 26px;
    width: auto;
  }

  .hero-content h1 {
    font-size: 27px;
  }

  .hero-content p {
    font-size: 12px;
    margin: 9px 0 24px 0;
  }

  .hero-content a {
    font-size: 14px;
  }

  .courses {
    padding: 40px 16px 50px 16px;
  }

  .courses-list {
    display: none !important;
  }

  .courses-list-mobile {
    display: flex !important;
  }

  .course-card-col {
    width: 50% !important;
  }

  .course-card {
    width: 50% !important;
    border-radius: 24px;
  }

  .card-text-wrapper {
    left: 16px !important;
    right: 16px !important;
  }

  .card-2 {
    width: 100% !important;
    height: 50% !important;
    font-size: 22px !important;
    padding: 16px 24px !important;
  }

  .card-7 {
    width: 100% !important;
    height: 50% !important;
    font-size: 20px !important;
    padding: 8px 16px !important;
  }

  .course-card .item {
    height: auto !important;
    width: 32px !important;
  }

  .card-text-left {
    font: 22px;
  }

  .card-text-right {
    font-size: 68px;
  }

  .card-button {
    font-size: 14px;
  }

  .card-button img {
    height: 28px;
    width: auto;
  }

  .features {
    padding: 60px 0 0 0;
  }

  .features h4 {
    margin: 45px auto 30px auto;
  }

  .trust-stats-list {
    display: none !important;
  }

  .trust-stats-list-mobile {
    display: flex !important;
  }

  .lp-compacted {
    width: 100% !important;
  }

  .trust-stat {
    width: 50% !important;
  }

  .trust-stat img {
    height: 52px !important;
    width: 52px !important;
  }

  .media-card-list {
    flex-direction: column !important;
  }

  .media-card {
    border-radius: 18px;
  }

  .media-card img {
    height: 180px;
    width: auto;
  }

  .media-card-left {
    padding: 25px 20px 20px 20px !important;
  }

  .media-card-text {
    font-size: 16px;
  }

  .media-card-left img {
    width: auto;
    height: 30px;
  }

  .testimonials {
    margin: 0;
    border-radius: 0;
    padding: 46px 0 60px 0;
  }

  .testimonials h3 {
    margin: 0 16px;
  }

  .testimonials h4 {
    margin: 16px 16px;
  }

  .testimonial-cards {
    margin-top: 40px;
  }

  .testimonial {
    padding: 20px 24px;
    flex-direction: column;
    gap: 30px;
    width: 320px !important;
  }

  .t-reviewer img {
    width: 36px;
    height: 36px;
  }

  .t-reviewer-name {
    font-size: 16px;
  }

  .t-review-title {
    font-size: 14px;
  }

  .testimonial-quote-icon img {
    width: 24px;
    height: auto;
  }

  .partners-header p {
    font-size: 20px;
  }

  .partner-logos {
    gap: 30px;
  }

  .partner-logos img {
    height: 22px;
    width: auto;
  }

  .partner-bar {
    width: 100%;
  }

  .contact-img {
    display: none !important;
  }

  .contact-img-mobile {
    display: block !important;
  }

  .partner-banner-content {
    left: 20px;
    right: 20px;
    top: 30px;
    bottom: 30px;
  }

  .partner-banner-content .title {
    font-size: 20px;
    margin-left: 70px;
    font-weight: 500;
    line-height: 1.3;
  }

  .partner-banner-content .description {
    font-size: 14px;
    line-height: 1.43;
  }

  .news-wrapper {
    flex-direction: column !important;
    gap: 0 !important;
    margin-top: 5px;
  }

  .news-item {
    width: auto !important;
    flex-direction: row !important;
    padding: 20px 0;
    gap: 15px;
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .news-item img {
    height: 85px !important;
    width: 85px !important;
    object-fit: cover !important;
    border-radius: 12px;
  }

  .news-item .topic {
    margin: 5px 0 5px 0;
  }

  .news-item .title {
    font-size: 18px !important;
  }

  .news-item .description {
    display: none !important;
  }

  .news-show-more {
    position: static !important;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .news-bar {
    display: none !important;
  }

  .tak-12 img {
    height: 44px;
    width: auto;
    margin: 10px 0 20px 0;
  }

  .footer-top {
    border-top: none !important;
  }

  .footer-links {
    display: none !important;
  }

  .footer-links-mobile {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .courses-list {
    display: flex !important;
  }

  .courses-list-mobile {
    display: none !important;
  }

  .trust-stats-list {
    display: flex !important;
  }

  .trust-stats-list-mobile {
    display: none !important;
  }

  .contact-img {
    display: block !important;
  }

  .contact-img-mobile {
    display: none !important;
  }

  .footer-links {
    display: flex !important;
  }

  .footer-links-mobile {
    display: none !important;
  }
}
