@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Medium-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy SemiBold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/SVN-Gilroy Bold-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter_UI/Inter-UI-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.lp-template {
  --scolor-1: #7cb130;

  --primary-1: #ffffff;
  --primary-2: #1c581f;
  --primary-3: #5fbd18;
  --primary-4: #ffda0f;

  --secondary-1: #01350c;
  --secondary-2: #57aa19;
  --secondary-3: #add93f;
  --secondary-4: #ceedca;
  --secondary-5: #28222e;
}

.lp-template .lp-description {
  font-weight: 400;
}

section.lp-template *,
footer.lp-template *,
header.lp-template * {
  font-family: "Gilroy", sans-serif !important;
  font-weight: 400;
}

section.lp-template a {
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
}

/* Base styles */
.lp-template * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lp-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section.lp-template h1 {
  margin: 0.67em 0;
  font-family: "Gilroy", sans-serif;
}

section.lp-template h2 {
  margin: 0.75em 0;
  font-family: "Gilroy", sans-serif;
  font-size: 52px;
  line-height: 1.15;
  letter-spacing: -0.46px;
  color: #1d1d1f;
  font-weight: 500;
  text-align: center;
}

section.lp-template h3 {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1d1d1f;
}

section.lp-template h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.44;
  color: #606060;
}

section.lp-template h1 span {
  color: #00da4f;
}

section.lp-template a {
  text-decoration: none;
  color: black;
}

section.lp-template p {
  margin: 0;
}

/* Navbar */
.lp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  background: #57aa19;
  position: relative;
  z-index: 10;
}

.lp-template.lp-navbar img {
  height: 36px;
  width: auto;
}

.lp-template .lp-menu {
  display: flex;
  gap: 1rem;
}

.lp-template .lp-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  padding: 9px 14px 11px;
  border-radius: 13px;
  background-color: #57aa19;
}

.lp-template .lp-button img {
  height: 14px;
  width: 14px;
}

.lp-template .lp-button-shadow {
  box-shadow: inset 0 -4px 0 0 #387e04;
  border-radius: 18px;
  padding: 8px 16px 14px 24px;
  color: white;
}

.lp-template .lp-button-shadow-2 {
  padding: 13px 47px 16px 48px;
  border-radius: 20px;
  box-shadow: inset 0 -4px 0 0 #387e04;
  background-color: #57aa19;
  color: white;
}

.lp-template .lp-button-outline {
  background-color: transparent;
  border: 1px solid #82c650;
  color: #f8faf9;
  font-size: 14px;
  font-weight: 500;
}

.lp-template .lp-button-light {
  background-color: #add93f;
  color: #201c24;
  font-size: 14px;
  font-weight: 600;
}

.lp-template .lp-button-gray {
  background-color: #eaeaea;
  color: #131415;
  font-size: 14px;
  font-weight: 600;
}

.lp-template .lp-compacted {
  width: 1176px;
  margin: 0 auto;
}

.lp-template .lp-bold {
  font-weight: 700;
}

/* Hero section */
.lp-hero {
  position: relative;
  height: fit-content;
}

.lp-template.lp-hero img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.lp-template .lp-hero-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-template .lp-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lp-template .lp-hero-content h1 {
  font-size: 80px;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.14;
}

@media (max-width: 768px) {
  .lp-template .lp-hero-content h1 {
    margin-bottom: 1rem;
  }
}

.lp-template .lp-hero-content p {
  width: 60%;
  font-size: 17px;
  line-height: 1.53;
  color: #e6feec;
  font-weight: 300;
  margin: 18px 0 44px 0;
}

.lp-template .lp-hero-content a {
  font-size: 20px;
}

/* Courses Section */
.lp-courses {
  padding: 90px 8px 120px 8px;
  background-color: #f9f9f9;
}

.lp-template.lp-courses .lp-description {
  text-align: center;
  margin: 20px 0 30px 0;
  font-size: 16px;
  line-height: 1.44;
  color: #606060;
}

.lp-template .lp-courses-list {
  gap: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.lp-template .lp-login-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lp-template .lp-login-wrapper img {
  margin-top: 2px;
}

.lp-template .lp-course-card-col {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.lp-template .lp-course-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  border-radius: 28px;
}

.lp-template .lp-card-background {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.lp-template .lp-course-card img {
  width: 100%;
  height: auto;
}

.lp-template .lp-course-card .lp-item {
  width: 44px;
  height: 44px;
}

.lp-template .lp-card-button {
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  border-radius: 99px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 8px 8px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.lp-template .lp-card-button img {
  height: 36px;
  width: auto;
}

.lp-template .lp-card-text-wrapper {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: last baseline;
}

.lp-template .lp-card-text-left {
  font-size: 26px;
  color: #f7f7f7;
  line-height: 0.83;
  letter-spacing: -0.25px;
}

.lp-template .lp-card-text-right {
  font-size: 88px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.74px;
}

.lp-template .lp-card-1 .lp-card-button {
  background: #266929;
  color: #fff;
}

.lp-template .lp-card-1 .lp-card-text-wrapper {
  bottom: 90px;
}

.lp-template .lp-card-1 .lp-card-text-left {
  font-size: 30px;
}

.lp-template .lp-card-2 {
  background-color: #201c24;
  padding: 30px 28px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.21px;
}

.lp-template .lp-card-2 a {
  color: #add93f;
}

.lp-template .lp-card-4 .lp-card-text-wrapper {
  bottom: 90px;
}

.lp-template .lp-card-4 .lp-card-text-left {
  color: #1d5b2a;
  font-weight: 700;
  font-size: 28px;
  width: 150px;
  line-height: 1.15;
}

.lp-template .lp-card-4 .lp-card-button {
  background-color: #d2ded0;
}

.lp-template .lp-card-5 .lp-card-text-wrapper {
  bottom: 40px;
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #3c5927;
  line-height: 1.2;
}

.lp-template .lp-card-6 .lp-card-text-wrapper {
  bottom: 40px;
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #3c5927;
  line-height: 1.2;
}

.lp-template .lp-card-6 .lp-card-button {
  justify-content: flex-end;
}

.lp-template .lp-card-7 {
  background-color: #014810;
  font-size: 22px;
  font-weight: 500;
  padding: 30px 28px;
  line-height: 1.2;
  letter-spacing: -0.21px;
}

.lp-template .lp-card-7 .lp-item {
  width: 56px;
  height: auto;
}

.lp-template .lp-card-7 a {
  color: #68c621;
}

.lp-template .lp-courses-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.lp-template .lp-login-wrapper-mobile {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.lp-template .lp-course-card-row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  max-width: 400px;
  width: 100%;
}

.lp-template .lp-course-card-last-row {
  align-items: stretch;
}

/* Features Section */
.lp-features {
  padding: 90px 0 0 0;
  text-align: center;
  background: #eef5f3;
}

.lp-template.lp-features h4 {
  margin: 30px auto 10px auto;
  max-width: 725px;
  text-align: center;
}

.lp-template .lp-features-wrapper {
  display: flex;
}

.lp-template .lp-features-wrapper img {
  width: 45%;
  height: auto;
}

.lp-template .lp-features-title {
  padding: 0 36px;
}

.lp-template .lp-features-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  padding: 60px 16px 40px 16px;
}

.lp-template .lp-feature-list {
  display: flex;
  gap: 60px;
}

.lp-template .lp-feature-list-margin {
  margin-top: 60px;
}

.lp-template .lp-features-list-item {
  width: 350px;
  height: 200px;
  text-align: left;
}

.lp-template .lp-features-list-item-header {
  font-family: "Inter", sans-serif;
  color: #606060;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c5c2c2;
}

.lp-template .lp-features-list-item-title {
  font-weight: 500;
  color: #262626;
  font-size: 21px;
  margin: 32px 0 16px 0;
}

.lp-template .lp-features-list-item-description {
  font-size: 15px;
  line-height: 1.6;
  color: #565b5c;
}

/* Trust Section */
.lp-trust {
  padding: 100px 16px 0 16px;
  background-color: #fff;
}

.lp-template.lp-trust .lp-compacted {
  display: flex;
  gap: 100px;
}

.lp-template .lp-trust-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lp-template .lp-trust-header .lp-button {
  border-radius: 24px;
  padding: 10px 24px;
}

.lp-template.lp-trust h2 {
  text-align: left;
}

.lp-template.lp-trust h4 {
  margin: 30px 0 36px 0;
  line-height: 1.44;
}

.lp-template .lp-trust-stats-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.lp-template .lp-trust-stats-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-top: 40px;
}

.lp-template .lp-trust-stats {
  display: flex;
  gap: 4rem;
}

.lp-template .lp-trust-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 160px;
}

.lp-template .lp-trust-stat img {
  height: 64px;
  width: 64px;
}

.lp-template .lp-stat-number {
  font-size: 44px;
  font-weight: 700;
  color: #333;
}

.lp-template .lp-stat-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: #606060;
}

/* Media Section */
.lp-media {
  padding: 70px 16px 90px 16px;
  background-color: #fff;
}

.lp-template.lp-media h3 {
  margin: 0 0 36px 0;
}

.lp-template .lp-media-card-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.lp-template .lp-media-card-list {
  display: flex;
  gap: 24px;
}

.lp-template .lp-media-card {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  overflow: hidden;
}

.lp-template .lp-media-card img {
  height: 292px;
  width: auto;
}

.lp-template .lp-media-card-1 {
  background-color: #eef5f3;
  color: #444;
}

.lp-template .lp-media-card-2 {
  background-color: #fbd757;
  color: #444;
}

.lp-template .lp-media-card-3 {
  background-color: #26b259;
  color: #fff;
}

.lp-template .lp-media-card-4 {
  background-color: #eef5f3;
  color: #444;
}

.lp-template .lp-media-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 52px 48px 32px 60px;
}

.lp-template .lp-media-card-text {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.48;
}

.lp-template .lp-media-card-left img {
  width: 120px;
  height: auto;
}

/* Testimonials */
.lp-testimonials {
  margin: 0 30px;
  padding: 90px 8px 96px 8px;
  border-radius: 30px;
  background: linear-gradient(90deg, #e6f0fa 0%, #fff5f2 100%);
}

.lp-template.lp-testimonials h4 {
  margin: 10px 0 60px 0;
}

.lp-template .lp-testimonial-cards-scroller {
  margin-top: 60px;
  overflow-x: auto;
}

.lp-template .lp-testimonial-cards {
  display: flex;
  gap: 8px;
}

.lp-template .lp-testimonial {
  flex-shrink: 0;
  padding: 72px 80px 60px 40px;
  border-radius: 29px;
  width: 637px;
  height: 386px;
  position: relative;
  display: flex;
  gap: 2rem;
}

.lp-template .lp-t-1 {
  background-color: rgba(255, 255, 255, 0.45);
}

.lp-template .lp-t-2 {
  background-color: #fff;
}

.lp-template .lp-t-3 {
  background-color: rgba(255, 255, 255, 0.45);
}

.lp-template .lp-t-index {
  color: #222;
  font-size: 17px;
  font-weight: 500;
}

.lp-template .lp-t-quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.lp-template .lp-t-quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.lp-template .lp-t-quote {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  line-height: 1.41;
}

.lp-template .lp-t-star img {
  height: 14.5px;
  width: 83.2px;
}

.lp-template .lp-t-reviewer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lp-template .lp-t-reviewer img {
  width: 52px;
  height: 52px;
}

.lp-template .lp-t-reviewer-name {
  font-size: 21px;
  font-weight: 500;
  color: #111;
}

.lp-template .lp-t-review-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #555;
}

.lp-template .lp-testimonial-quote-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.lp-template .lp-testimonial-quote-icon img {
  width: 36px;
  height: auto;
}

/* Partners */
.lp-partners {
  padding: 90px 16px;
  background-color: #fff;
  text-align: center;
}

.lp-template .lp-partners-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lp-template .lp-partners-header p {
  color: #aaa;
  font-size: 30px;
}

.lp-template .lp-partner-logos {
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.lp-template .lp-partner-logos img {
  height: 42px;
  width: auto;
}

.lp-template .lp-partner-bar {
  background-color: #dfdfdf;
  width: 100%;
  height: 1px;
}

.lp-template .lp-partners-header .lp-partner-bar {
  margin: 70px 0 80px 0;
}

.lp-template .lp-partner-bar-green {
  width: 30%;
  height: 2px;
  background-color: #7db131;
}

.lp-template .lp-partner-banner {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.lp-template .lp-partner-banner img {
  width: 100%;
  height: auto;
}

.lp-template .lp-partner-banner-content {
  position: absolute;
  top: 54px;
  left: 168px;
  right: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.lp-template .lp-partner-banner-content .lp-title {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.lp-template .lp-partner-banner-content .lp-description {
  font-size: 15px;
  color: #b2bbb1;
  margin: 10px 0 20px 0;
}

.lp-template .lp-partner-banner-content a img {
  height: 14px;
  width: 14px;
}

/* News */
.lp-news {
  padding: 0 16px 70px 16px;
  background-color: #fff;
}

.lp-template .lp-news-bar {
  width: 100%;
  height: 1px;
  background-color: #cfcece;
  margin: 15px 0 30px 0;
}

.lp-template .lp-news-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 8px;
}

.lp-template .lp-news-item {
  display: flex;
  flex-direction: column;
}

.lp-template .lp-news-item img {
  width: 100%;
  height: auto;
}

.lp-template .lp-news-item-1 {
  width: 576px;
}

.lp-template .lp-news-item-2 {
  width: 276px;
}

.lp-template .lp-news-item .lp-topic {
  font-size: 12px;
  column-rule: #747474;
  margin: 15px 0 5px 0;
}

.lp-template .lp-news-item .lp-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.33;
  color: #111;
  margin-bottom: 10px;
}

.lp-template .lp-news-item .lp-description {
  line-height: 1.44;
  font-size: 16px;
  color: #606060;
}

.lp-template .lp-news-show-more {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Ambassador CTA */
.lp-ambassador {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-color: #282828;
}

.lp-template.lp-ambassador img {
  width: 59%;
  max-width: 960px;
  height: auto;
}

.lp-template .lp-ambassador-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lp-template .lp-ambassador-content {
  display: flex;
  width: 50%;
  padding: 90px 90px 0 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

@media (min-width: 1377px) {
  .lp-template .lp-ambassador-content {
    padding: 90px 140px 0 0;
  }
}

@media (min-width: 1600px) {
  .lp-template .lp-ambassador-content {
    padding: 90px 90px 0 0;
  }
}

.lp-template .lp-ambassador-content h3 {
  color: #fff;
  font-weight: 500;
}

.lp-template .lp-ambassador-content .lp-button {
  padding: 8px 24px 14px 24px;
  gap: 1rem;
  border-radius: 18px;
}

.lp-template .lp-ambassador-content .lp-button img {
  margin-top: 3px;
  height: 14px;
  width: 14px;
}

.lp-template .lp-tak-12 img {
  height: 60px;
  width: auto;
  margin: 25px 0 50px 0;
}

.lp-template .lp-ambassador-content p {
  font-size: 16px;
  color: #bfbfbf;
  line-height: 1.5;
  margin-top: 6px;
}

.lp-template .lp-ambassador-content a {
  margin-top: 40px;
}

/* Footer */
footer {
  padding: 20px 16px 0 16px;
  background-color: #fff;
}

.lp-template .lp-footer-top {
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
  margin: 32px 0;
}

.lp-template .lp-footer-logo img {
  width: 180px;
  height: 50px;
}

.lp-template .lp-footer-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 32px;
  margin-top: 24px;
}

.lp-template .lp-footer-info p {
  font-size: 14px;
  color: #444;
  line-height: 1.38;
  margin-top: 6px;
}

.lp-template .lp-footer-info h4 {
  font-weight: 700;
  color: #222;
  font-size: 14px;
}

.lp-template .lp-follow {
  display: flex;
  gap: 1rem;
  margin-top: 32px;
  align-items: center;
}

.lp-template .lp-follow img {
  width: 30px;
  height: 30px;
}

.lp-template .lp-footer-links {
  display: flex;
  gap: 2rem;
}

.lp-template .lp-footer-links-mobile {
  display: flex;
  padding: 16px 0 20px 0;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
}

.lp-template .lp-footer-links a {
  display: block;
  margin-bottom: 0.25rem;
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 6px;
}

.lp-template .lp-footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  color: #aaa;
  margin: 24px 0;
}

.lp-template .lp-footer-links-mobile h4,
.lp-template .lp-footer-links-mobile p {
  font-size: 15px;
  font-weight: 400;
  color: #444;
  margin: 0;
}

@media (max-width: 1000px) {
  .lp-template.lp-courses {
    padding: 40px 16px 50px 16px;
  }

  .lp-template .lp-courses-list {
    display: none !important;
  }

  .lp-template .lp-courses-list-mobile {
    display: flex !important;
  }

  .lp-template .lp-course-card-col {
    width: 50% !important;
  }

  .lp-template .lp-course-card {
    width: 50% !important;
    border-radius: 24px;
  }

  .lp-template .lp-card-text-wrapper {
    left: 16px !important;
    right: 16px !important;
  }

  .lp-template .lp-card-2 {
    width: 100% !important;
    height: 50% !important;
    font-size: 22px !important;
    padding: 16px 24px !important;
  }

  .lp-template .lp-card-7 {
    width: 100% !important;
    height: 50% !important;
    font-size: 20px !important;
    padding: 8px 16px !important;
  }

  .lp-template .lp-course-card .lp-item {
    height: auto !important;
    width: 32px !important;
  }

  .lp-template .lp-card-text-left {
    font: 22px;
  }

  .lp-template .lp-card-text-right {
    font-size: 68px;
  }

  .lp-template .lp-card-button {
    font-size: 14px;
  }

  .lp-template .lp-card-button img {
    height: 28px;
    width: auto;
  }

  .lp-template .lp-partner-banner {
    max-width: 350px;
  }

  .lp-template .lp-media-card-list {
    max-width: 650px;
    margin: 0 auto;
    flex-direction: column !important;
  }

  .lp-template .lp-media-card {
    border-radius: 18px;
    width: 100%;
  }

  .lp-template .lp-media-card img {
    height: 180px;
    width: auto;
  }

  .lp-template .lp-media-card-left {
    padding: 25px 20px 20px 20px !important;
  }

  .lp-template .lp-media-card-text {
    font-size: 16px;
  }

  .lp-template .lp-media-card-left img {
    width: auto;
    height: 30px;
  }

  .lp-template .lp-contact-img {
    display: none !important;
  }

  .lp-template .lp-contact-img-mobile {
    display: block !important;
  }

  .lp-template .lp-partner-banner-content {
    left: 20px;
    right: 20px;
    top: 30px;
    bottom: 30px;
  }

  .lp-template .lp-partner-banner-content .lp-title {
    font-size: 20px;
    margin-left: 70px;
    font-weight: 500;
    line-height: 1.3;
  }

  .lp-template .lp-partner-banner-content .lp-description {
    font-size: 14px;
    line-height: 1.43;
  }
}

@media (min-width: 1001px) {
  .lp-template .lp-courses-list {
    display: flex !important;
  }

  .lp-template .lp-courses-list-mobile {
    display: none !important;
  }

  .lp-template .lp-contact-img {
    display: block !important;
  }

  .lp-template .lp-contact-img-mobile {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .lp-template .lp-compacted {
    width: 100% !important;
  }
}

@media (max-width: 1376px) {
  .lp-template .lp-hero-desktop {
    display: none !important;
  }

  .lp-template .lp-hero-mobile {
    display: block !important;
  }

  .lp-template .lp-features-wrapper {
    flex-direction: column;
  }

  .lp-template .lp-features-wrapper img {
    width: 100% !important;
    height: auto !important;
  }

  .lp-template .lp-feature-list {
    flex-wrap: nowrap !important;
    gap: 16px !important;
    justify-content: space-between;
  }

  .lp-template .lp-features-list-item {
    width: 50% !important;
    height: auto !important;
  }

  .lp-template.lp-ambassador {
    flex-direction: column;
  }

  .lp-template.lp-ambassador img {
    width: 100%;
    height: auto;
  }

  .lp-template .lp-ambassador-content-wrapper {
    position: static;
    padding: 36px 20px;
  }

  .lp-template .lp-ambassador-content {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 1377px) {
  .lp-template .lp-hero-desktop {
    display: block !important;
  }

  .lp-template .lp-hero-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  section.lp-template h2 {
    font-size: 28px;
  }

  section.lp-template h3 {
    font-size: 20px;
  }

  .lp-template.lp-navbar img {
    height: 26px;
    width: auto;
  }

  .lp-template .lp-hero-content h1 {
    font-size: 27px;
  }

  .lp-template .lp-hero-content p {
    font-size: 12px;
    margin: 9px 0 24px 0;
  }

  .lp-template .lp-hero-content a {
    font-size: 14px;
  }

  .lp-template.lp-features {
    padding: 60px 0 0 0;
  }

  .lp-template.lp-features h4 {
    margin: 45px auto 30px auto;
  }

  .lp-template .lp-trust-stats-list {
    display: none !important;
  }

  .lp-template .lp-trust-stats-list-mobile {
    display: flex !important;
  }

  .lp-template .lp-trust-stat {
    width: 50% !important;
  }

  .lp-template .lp-trust-stat img {
    height: 52px !important;
    width: 52px !important;
  }

  .lp-template.lp-testimonials {
    margin: 0;
    border-radius: 0;
    padding: 46px 0 60px 0;
  }

  .lp-template.lp-testimonials h3 {
    margin: 0 16px;
  }

  .lp-template.lp-testimonials h4 {
    margin: 16px 16px;
  }

  .lp-template .lp-testimonial-cards {
    margin-top: 40px;
  }

  .lp-template .lp-testimonial {
    padding: 20px 24px;
    flex-direction: column;
    gap: 30px;
    width: 320px !important;
  }

  .lp-template .lp-t-reviewer img {
    width: 36px;
    height: 36px;
  }

  .lp-template .lp-t-reviewer-name {
    font-size: 16px;
  }

  .lp-template .lp-t-review-title {
    font-size: 14px;
  }

  .lp-template .lp-testimonial-quote-icon img {
    width: 24px;
    height: auto;
  }

  .lp-template .lp-testimonial-cards {
    padding: 0 24px;
  }

  .lp-template .lp-partners-header p {
    font-size: 20px;
  }

  .lp-template .lp-partner-logos {
    gap: 30px;
  }

  .lp-template .lp-partner-logos img {
    height: 22px;
    width: auto;
  }

  .lp-template .lp-news-wrapper {
    flex-direction: column !important;
    gap: 0 !important;
    margin-top: 5px;
  }

  .lp-template .lp-news-item {
    width: auto !important;
    flex-direction: row !important;
    padding: 20px 0;
    gap: 15px;
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .lp-template .lp-news-item img {
    height: 85px !important;
    width: 85px !important;
    object-fit: cover !important;
    border-radius: 12px;
  }

  .lp-template .lp-news-item .lp-topic {
    margin: 5px 0 5px 0;
  }

  .lp-template .lp-news-item .lp-title {
    font-size: 18px !important;
  }

  .lp-template .lp-news-item .lp-description {
    display: none !important;
  }

  .lp-template .lp-news-show-more {
    position: static !important;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .lp-template .lp-news-bar {
    display: none !important;
  }

  .lp-template .lp-tak-12 img {
    height: 44px;
    width: auto;
    margin: 10px 0 20px 0;
  }

  .lp-template .lp-footer-top {
    border-top: none;
  }

  .lp-template .lp-footer-links {
    display: none;
  }

  .lp-template .lp-footer-links-mobile {
    display: flex;
  }
}

@media (min-width: 769px) {
  .lp-template .lp-trust-stats-list {
    display: flex;
  }

  .lp-template .lp-trust-stats-list-mobile {
    display: none;
  }

  .lp-template .lp-footer-links {
    display: flex;
  }

  .lp-template .lp-footer-links-mobile {
    display: none;
  }
}

.lp-template.lp-footer-mobile .lp-footer-top {
  padding-top: 30px;
  margin: 32px 0;
  border: none;
}

.lp-template.lp-footer-mobile .lp-footer-links-mobile {
  display: flex;
  padding: 16px 0 20px 0;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
}

.lp-template .lp-footer-links-mobile a {
  display: block;
  margin-bottom: 0.25rem;
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 6px;
}

/* Overview */
.lp-template.lp-overview {
  padding: 40px 16px;
}

.lp-template .lp-overview-list {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.lp-template .lp-overview-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 10px;
  gap: 4px;
  transition: box-shadow 0.4s ease , transform 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) and (max-width: 1200px) {
  .lp-template .lp-overview-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .lp-template .lp-overview-item {
    width: 47%;
    flex: unset;
  }
}

.lp-template .lp-overview-item-1 {
  background-color: #c4e9ec;
  color: var(--primary-2);
}

.lp-template .lp-overview-item-2 {
  background-color: #e5f6e3;
  color: var(--primary-2);
}

.lp-template .lp-overview-item-3 {
  background-color: #add93f;
  color: var(--primary-2);
}

.lp-template .lp-overview-item-4 {
  background-color: #ceedca;
  color: var(--primary-2);
}

.lp-template .lp-overview-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.lp-template .lp-overview-item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}

.lp-template .lp-overview-item-title {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.lp-template .lp-overview-item-title-text {
  font-size: 18px;
  font-weight: 500;
}

.lp-template .lp-overview-item-title-icon {
  width: 16px;
  height: auto;
  margin-top: 4px;
}

.lp-template .lp-overview-item-stat {
  font-size: 20px;
  font-weight: 500;
}

.lp-template .lp-overview-item-stat-number {
  font-size: 40px;
  font-weight: 600;
}

.lp-template .lp-overview-item-icon {
  width: 54px;
  height: auto;
}

/* Quiz List */
.lp-template.lp-quiz-list {
  padding: 40px 16px;
}

.lp-template.lp-quiz-list .lp-quiz-compacted {
  max-width: 900px;
  margin: 0 auto;
}

.lp-template.lp-quiz-list .lp-quiz-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.lp-template .lp-quiz-item {
  display: flex;
  align-items: start;
  gap: 16px;
  padding: 16px;
  background-color: #f4f6fa;
  transition: background-color 0.3s ease;
}

.lp-template.lp-quiz-list .lp-quiz-list-container * {
  font-family: "Inter UI", sans-serif !important;
}

.lp-template .lp-quiz-item-left {
  flex: 1;
  display: flex;
  align-items: start;
  gap: 16px;
}

.lp-template .lp-quiz-list-container > .lp-quiz-item:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.lp-template .lp-quiz-list-container > .lp-quiz-item:last-child {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.lp-template .lp-quiz-item-icon {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-template .lp-quiz-item-icon img {
  width: 24px;
  height: auto;
  background-color: white;
  border-radius: 99px;
}

.lp-template .lp-quiz-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lp-template .lp-quiz-item-content-type {
  padding: 3px 8px;
  font-size: 10px;
  color: #4b5563;
  border-radius: 4px;
  background-color: #e5e7eb;
  margin-right: 2px;
}

.lp-template .lp-quiz-item-content-type.lp-quiz-type-practice {
  background-color: #1ca598;
  color: white;
}

.lp-template .lp-quiz-item-content-type.lp-quiz-type-mock {
  background-color: #f3642e;
  color: white;
}

.lp-template .lp-quiz-item-content-title {
  font-weight: 500;
  font-size: 17px;
  color: var(--primary-2);
  transition: color 0.3s ease;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

.lp-template .lp-quiz-item-content-title:hover {
  color: var(--primary-3);
}

.lp-template .lp-quiz-item-content-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lp-template .lp-quiz-status {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.lp-template .lp-quiz-status-icon {
  width: 16px;
  height: auto;
}

.lp-template .lp-quiz-status-text {
  font-size: 15px;
  color: #4b5563;
}

.lp-template .lp-quiz-item-start-button {
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 8px;
  padding: 6px 32px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  background-color: var(--primary-3);
  color: #fff;
  border: none;
  box-shadow: 0 1px 2px 0 var(--secondary-2);
  white-space: nowrap;
}

.lp-template .lp-quiz-item-start-button:hover {
  background-color: var(--secondary-2);
}

@media (max-width: 768px) {
  .lp-template .lp-overview-list {
    flex-direction: column;
    gap: 8px;
  }

  .lp-template .lp-overview-item {
    width: 100%;
  }

  .lp-template .lp-overview-item-stat {
    font-size: 18px;
  }

  .lp-template .lp-overview-item-stat-number {
    font-size: 32px;
  }

  .lp-template .lp-quiz-item {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .lp-template .lp-quiz-item-left {
    width: 100%;
  }

  .lp-template .lp-quiz-item-content {
    gap: 12px;
  }

  .lp-template .lp-quiz-item-content-title {
    line-height: unset;
    font-weight: 500;
  }

  .lp-template .lp-quiz-item-content-footer {
    flex-wrap: wrap;
  }

  .lp-template .lp-quiz-status {
    width: 45%;
  }
}
